@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!--This about page talks about the the details of the DJ Ark website and its purpose. It gives the client on how to use the site. It also talks about the uses and convenience of this app. It focuses of how the app is a useful feature to have on your phone while at a night club. -->
<p>Introducing top of the class LIVE music request. Come enjoy the night with the house music specialist DJ Ark. Coming to a club near you. This app lets you request your favorite music to be mixed during DJ Ark's Live performance. Have the comfort of requesting songs right from the dance floor. The DJ is undisturbed and receives the notification right next to his turn table. So now you can stay busy dancing and the DJ mixing.</p>
