@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--This page tells the contact info for DJ Ark, the person who the app was designed for. -->
<address>
    3555 Lodge Ln<br />
    Louisville, KY 40218<br />
    <abbr title="Phone">P:</abbr>
    502.555.0100
</address>

<address>
    <strong>DJ Ark:</strong>   <a href="mailto:Djark@gmail.com">Djark@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:DjArkMarketing@gmail.com">DjArkMarketing@gmail.com</a>
</address>