@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"><!--This is the main home page where it gives a short intro to the DJ music request site. I used a big Jumbotron to highlight the name. -->
    <h1>DJ Ark</h1>
    <p class="lead">LIVE Music Request is now here.</p>
   
</div>


   